<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="offset-sm-1 " style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;"> 会員情報編集 </h5>
      <%= form_with model: @customer, url: customers_path local:true do |f| %>
        <%= render "public/shared/error_messages", resource: @customer %>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3">名前</div>
          <div class="col-sm-3"><%= f.text_field :family_name %></div>
          <div class="col-sm-3"><%= f.text_field :first_name %></div>
        </div>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3">フリガナ</div>
          <div class="col-sm-3"><%= f.text_field :family_name_kana %></div>
          <div class="col-sm-3"><%= f.text_field :first_name_kana %></div>
        </div>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3"><%= f.label :zip_code, "郵便番号（ハイフンなし）" %></div>
          <div class="col-sm-3"><%= f.text_field :zip_code %></div>
        </div>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3"><%= f.label :address, "住所" %></div>
          <div class="col-sm-7"><%= f.text_field :address, :size=>"63" %></div>
        </div>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3"><%= f.label :phone_number, "電話番号（ハイフンなし）" %></div>
          <div class="col-sm-3"><%= f.text_field :phone_number %></div>
        </div>
        <div class="form-group" style="display: flex">
          <div class="col-sm-3"><%= f.label :email, "メールアドレス" %></div>
          <div class="col-sm-3"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>
        <div>
          <div class="col-sm-4 offset-sm-3"><%= f.submit "         変更を保存         ", class: "btn btn-success" %></div>
          <div class="col-sm-2 offset-sm-2"><%= link_to "退会する", confirm_delete_customers_path, class: "btn btn-danger" %></div>
        </div>

      <% end %>
      
    </div>
  </div>
</div>