<div class= "container">
  <div class= "row">
    <div class= "col-3">
      <%= attachment_image_tag(@item, :item_image, :fill, 200, 200) %>
    </div>
    <div class= "col-9">
      <table class='table table-borderless'>
        <tbody>
          <tr>
            <td style="width: 150px;">商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格<br>(税抜価格)</td>
            <td><%= @item.add_tax_sales_price.to_s(:delimited)%>（<%= @item.net_price.to_s(:delimited) %>）円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td><%= @item.is_stocked ? '販売中' : '販売停止中' %></td>
          </tr>
        </tbody>
      </table>
      <div class= "mx-5 px-5 py-4"><%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-lg btn-success" %></div>
    </div>
  </div>
</div>