  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>管理者ログイン</h3>
      <table>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr class="field">
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>

          <tr class="field">
            <td><%= f.label :password, "パスワード" %></td>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>

          <tr class="actions">
            <td></td>
            <td><%= f.submit "　ログイン　", class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </table>
      <%= render "admin/shared/links" %>
    </div>
  </div>