<div class="container">
  <div class="row">
    <div class="col-6">
      <h5 style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;" >ジャンル一覧・追加</h5>
      <table class="table ">
        <thead>
          <tr>
            <td>ジャンル名</td>
            <%= form_with model: @genre, url:admin_genres_path, local: true do |f| %>
              <%= render "public/shared/error_messages", resource: @genre %>
              <td class="form-group">
                <%= f.text_field :name %>
              </td>

              <td class="form-group">
                <%= f.submit "新規登録", class: 'btn btn-success' %>
              </td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <!-- colspan? -->
            <th></th>
            <th>ジャンル</th>
            <th></th>
          </tr>
          <% @genres.each do |genre| %>
          <%= render "public/shared/error_messages", resource: genre %>
            <tr>
              <td><%= genre.name %></td>
              <td></td>
              <td><%= link_to " 編集する ", edit_admin_genre_path(genre), class: "btn btn-success"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>