<div class="container">
  <div class="row">
    <div class="col-6">
      <h5 style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;" >ジャンル一覧・追加</h5>
       <%= form_with model: @genre, url:admin_genres_path, local: true do |f| %>
          <div>
            <div class="d-flex justify-content-center">
              <div class="mx-3">ジャンル名</div>
              <%= render "public/shared/error_messages", resource: @genre %>
              <div class="form-group mx-3">
                <%= f.text_field :name %>
              </div>

              <div class="form-group mx-3">
                <%= f.submit "新規登録", class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        <% end %>
      <table class="table ">
        <thead>
          <tr class="table-active">
            <th></th>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <%= render "public/shared/error_messages", resource: genre %>
            <tr>
              <td><%= genre.name %></td>
              <td></td>
              <td><%= link_to " 編集する ", edit_admin_genre_path(genre), class: "btn btn-success"%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>