<div class="container">
  <div class="row">
    <div class="col">
      <h5 class="offset-sm-1 " style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin-top: 50px; margin-bottom: 50px;"> 注文情報確認 </h5>
      <table><tr><td>
        <div>注文情報</div>
        <table border="1">
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">注文日</th>
            <td style="padding: 15px 10px;"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">配送先</th>
            <td style="padding: 15px 10px;">
              <%= @order.zip_code %>
              <%= @order.address %>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">支払い方法</th>
            <td style="padding: 15px 10px;"><%= @order.payment_method %></td>
          </tr>
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">ステータス</th>
            <td style="padding: 15px 10px;"><%= @order.shipping_status %></td>
          </tr>
        </table>
        </td>

        <td>
        <div>請求情報</div>
        <table border="1">
          <tr >
            <th style="padding: 15px 10px; background-color: #eeeeee;">商品合計</th>
            <td style="padding: 15px 10px;"><%= (@order.total_price - @order.delivery_fee ).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">配送料</th>
            <td style="padding: 15px 10px;"><%= (@order.delivery_fee).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th style="padding: 15px 10px; background-color: #eeeeee;">ご請求金額</th>
            <td style="padding: 15px 10px;"><%= (@order.total_price).to_s(:delimited) %></td>
          </tr>
        </table>
      </td></tr></table>
      <div>注文内容</div>
      <table border="1">
        <tr style="background-color: #eeeeee;">
          <th style="padding: 15px 10px;">商品</th>
          <th style="padding: 15px 10px;">単価(税込)</th>
          <th style="padding: 15px 10px;">個数</th>
          <th style="padding: 15px 10px;">小計</th>
        </tr>
        <% @order_items.each do |order_item| %>
          <tr>
            <td style="padding: 15px 10px;"><%= order_item.item.name %></td>
            <td style="padding: 15px 10px;"><%= (order_item.taxed_item_price_at_order).to_s(:delimited) %></td>
            <td style="padding: 15px 10px;"><%= order_item.quantity %></td>
            <td style="padding: 15px 10px;"><%= (order_item.taxed_item_price_at_order*order_item.quantity).to_s(:delimited) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>