<div class="container">
  <div class="row">
    <div class="col">
      <h5 style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold; margin:50px 0;">ログイン</h5>
      <div>
       <h6 class="offset-sm-1" style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold">会員の方はここからログイン</h6>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      　<div class="form-group" style="display: flex">
        　<div class="col-sm-2 offset-sm-1"><%= f.label :email, "メールアドレス" %></div>
        　<div class="col-sm-6"> <%= f.email_field :password, :size=>"50", autocomplete: "current-password" %></div>
      　</div>
      　<div class="form-group" style="display: flex">
        　<div class="col-sm-2 offset-sm-1"><%= f.label :password,  "パスワード" %></div>
        　<div class="col-sm-6"><%= f.password_field :password, :size=>"50", autocomplete: "current-password" %></div>
      　</div>
      　<div class="form-group" style="display: flex">
      　  <div class="col-sm-3 offset-sm2"></div>
      　   <div class="col-sm-2 actions"><%= f.submit"     ログイン     ", class: "btn btn-primary" %></div>
      　</div>
      　
       <% end %>
       <h6 class="offset-sm-1" style="background-color: #eeeeee; display: inline-block; padding:0 20px; font-weight: bold;">会員登録がお済でない方</h6>
       <div class="offset-sm-2"><%= render "public/shared/links" %>から新規登録を行ってください</div>
      </div>
    </div>
  </div>
</div>
